body{
    background-color: lightgoldenrodyellow;
    color:darkblue;
    
}

h1{
    font-size: xx-large;
    font-weight: bold;
}

#number1-in,#number2-in{
    font-size: xx-large;
    font: icon,times,arial;
    font-weight: bold;
}
.key-operator{
   background-color: lightgreen;
   color:red;
   font-weight: bold;
   font:icon,times,arial;
   font-size: xx-large;
}

#clear-btn, #submit-btn{
    background-color: yellow;
    color: purple;
    font-weight: bold;
   font:icon,times,arial;
   font-size: xx-large;
}

.alert-danger{
    margin:0;
    padding-top: 0;
    color: darkorchid;
    font:icon,times,arial;
   font-size: xx-large;
}

#history{
    font: icon,times,arial;
    font-weight: bold;
    font-size: xx-large;
    background-color: cyan;
    color:red
   
}

#resultTable,#containerList{
    font: icon,times,arial;
    font-size: xx-large;
    font-weight: bold;

}

